@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather";
}

/* banner section style */
.banner-container{
    max-width: 1320px;
    min-height: 600px;
    margin: 20px auto 120px;
    background-image: url(../assets/images/Banner\ Image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content{
    color: white;
    text-align: center;
}
.banner-content p{
    font-size: 32px;
    font-weight: 400;
}
.banner-content h1{
    font-size: 72px;
    font-weight: 900;
    margin-top: 10px;
}

/* 65% OFF section style */
.second-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.second-section-content h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    text-align: center;
    margin-bottom: 40px;
}
.second-section-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    margin-bottom: 16px;
}
.second-section-content h2{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    margin-bottom: 40px;
}

/* midnight party style */
.midnight-container{
    width: 1320px;
    height: 600px;
    margin: 0 auto 120px;
    background-image: url(../assets/images/Vectorrr.png);
    background-color: rgba(0, 0, 0, 0.568);
    background-blend-mode: overlay;
    border-radius: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.midnight-content{
    width: 50%;
}
.midnight-content h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
    margin-bottom: 24px;
}
.midnight-content p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-bottom: 48px;
}
.midnight-content h4{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-left: 32px;
}
.midnight-image{
    width: 30%;
}

/* Event Schedule style */
.event-schedule-container{
    width: 1320px;
    height: 482px;
    margin: 0 auto 120px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.schedule{
    display: flex;
    gap: 5px;
}
.schedule h4, p{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
}

.schedule h4{
    color: rgb(255, 0, 0);
}

.btn{
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-top: 40px;
}

/* Coming Soon section style */
.coming-soon-container{
    width: 1320px;
    height: 463px;
    margin: 0 auto 120px;
    display: flex;
    justify-content: space-between;
}

.coming-soon-content{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.coming-soon-content h4, .sub-title{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}
.coming-soon-content h2, .title{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    text-align: left;
}
.coming-soon-content p, .content-with-image p, .description{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}
.ellipse-image{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ellipse-image img{
    width: calc(100% - 70px);
    border: 15px solid red;
    border-radius: 50%;
    padding: 20px;
}
.content-with-image{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 35px;
}
.content-with-image h2{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
}

.content-with-image image{
    width: 25%;
    border: 2px solid blue;
}

/* Holiday Sale section start */
.holiday-container{
    width: 1320px;
    height: 986.07px;
    margin: 0 auto 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.holiday-text-content{
    width: 1068px;
    height: 260px;
}
.holiday-text-content h4{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    margin-bottom: 10px;
}
.holiday-text-content h1{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    text-align: center;
    margin-bottom: 20px;
}
.holiday-text{
    color: red;
}
.holiday-text-content p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-bottom: 50px;
}

.image-container{
    width: 1320px;
    height: 732.07px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.images{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.images img{
    width: 100%;
    height: 100%;
}

.giftbox{
    width: 674.82px;
    height: 620px;
    position: absolute;
    top: 60px;
    left: 50px;
}

.girl{
    width: 570px;
    height: 450px;
    position: absolute;
    right: -0px;
    top: 45px;
    background-color: rgba(211, 211, 211, 0.858);
}

.discount{
    position: relative;
    left: 600px;
    top: 170px;
    z-index: 1;
}

/* card section style */
.card-container{
    width: 1320px;
    height: 1163px;
    margin: 0 auto 120px;
}

.card-content{
    margin-bottom: 45px;
}

.card-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* footer section style */
.newsletter-container{
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 0 auto 120px;
    display: flex;
    justify-content: center;
}

.newsletter-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter{
    width: 896px;
    height: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.newsletter img{
    width: 80px;
    height: 80px;
}

#center-text{
    text-align: center;
}

.complex-field{
    display: flex;
    gap: 0;
}

.email{
    border-radius: 50px 0px 0px 50px;
    padding: 12px 20px;
    border: none;
    background-color: white;
    width: 350px;
}

.subscribe{
    border-radius: 0px 50px 50px 0px;
    padding: 12px 20px;
    border: none;
    color: white;
    background-color: red;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    width: 120px;
}

/* footer section start */
.footer{
    width: 1520px;
    height: 609px;
    margin: 0 auto;
    background: rgb(7, 2, 17);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
}

.contact-info{
    width: 1185px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.adress{
    display: flex;
    justify-content: space-between;
}

.phone, .website{
    display: flex;
    gap: 10px;
}

.social-icon{
    text-align: center;
}

.social-icon img{
    width: 55px;
    height: 55px;
}

.disclaimer{
    display: flex;
    justify-content: space-between;
}