@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather";
}

/* banner section style */
.banner-container{
    max-width: 1320px;
    min-height: 600px;
    margin: 20px auto 120px;
    background-image: url(../assets/images/Banner\ Image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content{
    color: white;
    text-align: center;
}
.banner-content p{
    font-size: 32px;
    font-weight: 400;
}
.banner-content h1{
    font-size: 72px;
    font-weight: 900;
    margin-top: 10px;
}

/* 65% OFF section style */
.second-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.second-section-content h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    text-align: center;
    margin-bottom: 40px;
}
.second-section-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    margin-bottom: 16px;
}
.second-section-content h2{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    margin-bottom: 40px;
}

/* midnight party style */
.midnight-container{
    width: 1320px;
    height: 600px;
    margin: 0 auto 120px;
    background-image: url(../assets/images/Vectorrr.png);
    background-color: rgba(0, 0, 0, 0.568);
    background-blend-mode: overlay;
    border-radius: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.midnight-content{
    width: 50%;
}
.midnight-content h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
    margin-bottom: 24px;
}
.midnight-content p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-bottom: 48px;
}
.midnight-content h4{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-left: 32px;
}
.midnight-image{
    width: 30%;
}